@model List<Order>

@{
	ViewData["Title"] = "All orders";
}

<div class="row">
	<div class="col-md-8">
		<div class="card mb-3 custom-card" style="background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);">
			<p>
				<h4>List of all your orders</h4>
			</p>

			<table class="table">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Items</th>
						<th>Total</th>
						@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
							<th>User</th>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var order in Model)
					{
						<tr>
							<td class="align-middle">@order.Id</td>
							<td class="align-middle">
								<ul style="list-style-type:none">
									@foreach (var item in order.OrderItems)
									{
										<li>
											<div class="alert alert-info" role="alert">
												<span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Book.BookName
											</div>
										</li>
									}
								</ul>
							</td>
							<td class="align-middle">
								@order.OrderItems.Select(m => m.Book.Price * m.Amount).Sum().ToString("c")
							</td>
							@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
							{
								<td class="align-middle"> @order.User.FullName </td>
							}
						</tr>
					}
				</tbody>
			</table>

		</div>
	</div>
</div>